<head>
    <title>@ViewBag.Title</title>

    <link href="~/Content/bitesitestyle.css" rel="stylesheet" />
</head>
<div id="background">Learning
    <div id="backgroundHeader">&nbsp;</div>
    <div id="backgroundBody">@RenderBody()</div>
    <div id="backgroundFooter">&nbsp;</div>
</div>
<div id="headerAndFooter">
    <div id="header">
        <span class="ao" style="font-size: 62px;">Bite</span><span class="ao" style="font-size: 38px;">Cards</span>
        <span class="norm" style="font-size: 12px;">The tasteful card design company</span>
    </div>
    <div id="footer">
        <!--<div id="categoryMenu"><span class="ao" style="font-size: 18px;">Valentines</span><span class="ao" style="font-size: 18px;">Birthday</span></div>-->
        <span class="ao" style="font-size: 32px;">Bite</span><span class="ao" style="font-size: 18px;">Cards</span>
    </div>
</div>
