<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://www.danpickford.com/BiteCard</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>https://w12.winhost.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>danpickford.com/BiteCard</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>danpickf</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BiteCardEntityModel.BiteCardDatabaseContexts" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:s08.winhost.com;Initial Catalog=DB_22527_dandatabase1;Persist Security Info=True;User ID=DB_22527_dandatabase1_user;Password=papereater1986" Name="Data Source=tcp:s08.winhost.com;Initial Catalog=DB_22527_dandatabase1;Persist Security Info=True;User ID=DB_22527_dandatabase1_user;Password=papereater1986;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BiteCardEntityModel.BiteCardDatabaseContexts, BiteCardEnitryModel" MigrationConfiguration="BiteCardEntityModel.Migrations.Configuration, BiteCardEnitryModel" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BiteCardEntityModel.BiteCardDatabaseContexts-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s08.winhost.com;Initial Catalog=DB_22527_dandatabase1;Persist Security Info=True;User ID=DB_22527_dandatabase1_user;Password=papereater1986;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="BiteCardEntityModel.BiteCardDatabaseContexts" />
  </ItemGroup>
</Project>